$color__background-body: #000020;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #e6e6e6;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-dark-red: rgba(135, 0, 0, 1);
$color__background-full-red: rgba(200, 0, 0, 1);


$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-input-focus: #111;
$color__main-yellow: #ffea00;
$color__link: $color__main-yellow;
$color__link-visited: $color__main-yellow;
$color__link-hover: #ffd000;
$color__text-main: #ddd;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: #ccc;
$color__border-abbr: #666;

